<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div >
 <nav class="main-navigation">
        <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" routerLink="../home">Chat App</a>
        </div>
        <ul class="nav-list">
            
            <li class="nav-list-item">
                <a  routerLink="../register" class="nav-link">Register</a>
            </li>
            <li class="nav-list-item">
                <a  routerLink="../home"class="nav-link">Login</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Logout</a>
            </li>
            
        </ul>

    </nav>

  </div>