 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-navbar></app-navbar>










             












 


<div class="container">
			<div class="row forms-container" style="margin-top:15% ;">
				 <div class="col-md-8 mt-5"> 
					<div class="formbackground">
						<div class="skew-up-background"></div>
						<h1 class="text-center white-text mt-2">Login Form</h1>
						<form method="post" class="loginform" role="form" #f="ngForm" (ngSubmit)="loginUser()">
							<div class="form-group"

                            
							[ngClass]="{
					   'has-danger': username.invalid && (username.dirty || username.touched),
					   'has-success': username.valid && (username.dirty || username.touched)
				  }">
                             <div class="form-group mt-4" >
                                <label class="green-text" for="name">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="" pattern="[a-zA-Z]+$" [(ngModel)]="user.username" #username="ngModel"required minlength="4"  required>
								
                                <div class="form-control-feedback" 
			                           *ngIf="username.errors && (username.dirty || username.touched)">
				                       <p  style="font-weight: bold;color:red; "*ngIf="username.errors.required" class="text-danger">User name is required</p>
                                       <p  style="font-weight: bold;color: red; "*ngIf="username.errors.minlength" class="text-danger">username must be at least 4 characters long</p>
			                    </div>
                                
                             </div>
							 </div>
							<div class="form-group"
	                                [ngClass]="{
                                  'has-danger': password.invalid && (password.dirty || password.touched),
                                  'has-success': password.valid && (password.dirty || password.touched)
                                   }">
							<div class="form-group mt-4">
								<label class="white-text" for="password">Password</label>
								<input type="password" class="form-control" id="password" required name="password" placeholder="Please provide password" value=""  [(ngModel)]="user.password"#password="ngModel"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required minlength="8" required/>
							</div>
							<div class="form-control-feedback"
		     *ngIf="password.errors && (password.dirty || password.touched)">
			<p  style="font-weight: bold;color: red; " *ngIf="password.errors.required"class="text-danger">Password is required</p>
			<p  style="font-weight: bold;color: red; "*ngIf="password.errors.minlength" class="text-danger">Password must be at least 8 characters long</p>
            <p  style="font-weight: bold;color: red; "*ngIf="password.errors.pattern" class="text-danger">Password must contain at least the one capital letter ,a small letter or a number </p>
		                             </div>
							</div>
							<div class="text-center mt-5">
							    <button type="submit" class="btn formsubmitbtn">Submit</button>
							</div>
							
                            <br>
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account! 
                            <a routerLink="../register" >
								
                                Sign Up Here
                            </a>
							<a routerLink="../message" >message</a>
							<a routerLink="../chat" >chat</a>
							<a routerLink="../users" >users</a>
							<a routerLink="../username" >username</a>
							<a routerLink="../chatroom" >chatroom</a>
                            </div>
						</form>					    
					</div>
				 </div> 
            </div>
    </div> 